<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="work.addiel.demo" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25"/>
	<application android:icon="@drawable/appicon" android:label="demo" android:name="DemoApplication" android:debuggable="false" android:theme="@style/Theme.AppCompat" android:resizeableActivity="true">
		<activity android:name=".DemoActivity" android:label="@string/app_name" android:theme="@style/Theme.Titanium" android:configChanges="keyboardHidden|orientation|fontScale|screenSize|smallestScreenSize|screenLayout|density" android:clearTaskOnLaunch="true">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
			</intent-filter>
		</activity>
		<activity android:name="org.appcelerator.titanium.TiActivity" android:configChanges="keyboardHidden|orientation|fontScale|screenSize|smallestScreenSize|screenLayout|density"/>
		<activity android:name="org.appcelerator.titanium.TiTranslucentActivity" android:configChanges="keyboardHidden|orientation|fontScale|screenSize|smallestScreenSize|screenLayout|density" android:theme="@style/Theme.AppCompat.Translucent"/>
		<activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity" android:configChanges="screenSize|density"/>
		<provider android:name="org.appcelerator.titanium.io.TiFileProvider" android:authorities="work.addiel.demo.tifileprovider" android:exported="false" android:grantUriPermissions="true"/>
		<service android:name="work.addiel.demo.BootService"/>
		<receiver android:exported="true" android:name="com.ibilis.booterone.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
            <meta-data android:name="bootType" android:value="restart"/>
            <meta-data android:name="sendToBack" android:value="true"/>
        </receiver>
	    	<service android:name=".KioskService" android:exported="false"/>
	</application>
	<service android:name="com.ibilis.booterone.KioskService" android:exported="false"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>